h2 {
	font-size: 1.3rem;
	font-weight: bold;
	margin: 10px 0;
}
#nav-primary {
	> div {
		@media (min-width: 768px) {
			flex-wrap: nowrap !important;
		}
	}
	ul li {
		margin-left: 0 !important;
	}
}

.card-home {
	aspect-ratio: 1/1;
	> a {
		background-size: cover;
		background-position: center;
	}
}
